/* block header */


.header {
  display: flex;
  align-items: center;
  margin: 95px 0;
  gap: 184px;
  margin-left: 50px;
}

.header__menu {
  display: flex;
  gap: 50px; 
  align-items: center;
  text-underline-offset: 4px;
  letter-spacing: 1px;
}

.menu__link {
  display: flex;
  gap: 34px;
  
}


.menu__item {
  list-style: circle;
}

.menu__item:has(.active) {
  list-style: none;
}

.menu__item .active {
  text-decoration: none;
}

.logo {
  display: block;
  width: 136px;
}

.address .address__header {
  margin-left: 6px;
}
.address__item {
  list-style: none;
  text-underline-offset: 4px;
  font-size: 18px;
  line-height: 25px;
}

.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 757px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
  z-index: 1;
}


.cover__container {
    margin-top: 165px;
    width: 1100px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 2;
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #FFFFFF;
    font-size: 100px;
    font-weight: 700px;
    line-height: 115px;
    width: 100%;
    text-align: left;
}

.accent-span:first-child{
  margin-top: 165px;
}

.accent-span {
    display: inline-block;
    letter-spacing: 30px;
}

.cover__title .text__center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
}
.cover__title .text__right {
  align-self: flex-end;
  
  .no-spacing {
    letter-spacing: 0;
  }
}


.description {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  color: #FFFFFF;
  margin-right: 50px;
  margin-bottom: 50px;
  z-index: 2;
}

.title {
  margin-left: 49px;
  margin-top: 13px;
  .title__description {
    word-spacing: 19px;
    font-size: 22px;
    text-transform: uppercase;
  }
}

.button {
  background: black;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  width: 256px;
  height: 51px;
}


.lots {
  margin-top: 181px;
}

.lots__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-bottom: 30px;
}

.title__lot {
  margin-left: 62px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 28px;
}

.lots__container__article {
  width: 334px;
  min-height: 596px;
  position: relative;
  padding-top: 45px;
  padding-left: 40px;
  padding-right: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
  article {
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    min-height: 516px;
    width: 254px;
    z-index: 11;
  }
}

.article__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.article__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 14px;
}


.bg_image {
  background-image: url(../images/card-lot-03.jpg) 
}

.bg_cinema {
  background-image: url(../images/card-lot-01.jpg) 
}

.bg_book {
  background-image: url(../images/card-lot-02.jpg) 
}

.more {
  margin-left: 64px;
  font-size: 20px;
}

.auction {
  display: grid;
  grid-template-columns: 360px 672px;
  margin-top: 120px;
  margin-left: 24px;
  margin-right: 24px;
}

.logo__white {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  margin-left: 47px;
  margin-top: 30px;
}

.logo__white img {
  width: 148px;
  height: 114px;
}

.about {
  margin-top: 135px;

}

.title__auction {
  margin-bottom: 95px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
            
.text__auction_texts {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 5px;
  width: 693px;
}


.text__auction {
  margin-bottom: 25px;
}

footer {
  display: flex;
  margin-top: 161px; 
  justify-content: space-between;
}

.address__footer {
  margin-left: 50px;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.address__footer__item {
  list-style-type: none;
  text-underline-offset: 4px;
}


.menu__link__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  text-underline-offset: 4px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.menu__item__footer .active {
  text-decoration: none;
}

.socials {
  display: inline-block;
  width: 240px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px; 
  margin-right: 50px;
  padding-top: -55px;
}

.socials__list {
  display: flex;
  gap: 48px;
  list-style: none;
}
